

<div class="row">
    <div class="col-md-6 aviso">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20101">20101</a>
                </div>
                <div class="col-md-11">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 aviso">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>
                    O.S. | 20101 | 14/09/2020
                    <span style="float: right; cursor: pointer;" onclick="$(this).closest('.col-md-6.aviso').fadeOut().promise().done(function(){$(this).remove()});">
                        <i class="fa fa-times-circle"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    LUIZ ANDRÉ OTÁVIO CAMARGOS
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120">ACESSAR ESTA O.S.</a>
                </div>
                <div class="col-md-8">
                    GELADEIRA - PANASONIC NR-BT49WPVXA
                </div>
                <div class="col-md-4">
                    <a href="/os/id/20120/fechamento">FECHAR O.S.</a>
                </div>
                <div class="col-md-8">
                    RUA ALABRASTO 123 - COND. DAS ACÀSSIAS - BETIM/MG
                </div>
                <div class="col-md-4">
                    CEP: 55.555-555
                </div>
            </div>
        </div>
    </div>
</div>
